<!DOCTYPE "html">
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body>
<h1>Create a new user</h1>
<div th:if="(${error})">
    <p th:text='${error}'></p>
</div>
    <form method="post" th:action="@{/user/add}">
        <div class="form-group">
            <label>Name
                <input type="text" name="userName" th:value="${username}" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label>Email
                <input type="email" name="email" th:value="${email}" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input type="password" name="password" value="" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input type="password" name="verify" value="" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="submit" value="Add" class="btn"/>
            </label>
        </div>
    </form>


</body>
</html>