<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>Sign Up</title>
</head>
<body>
<form method = 'post' th:action="@{/user}">
  <label>
    Username:
    <input type = 'text' th:field="${user.username}" th:value="${username}">
  </label>
  <p th:errors="${user.username}"></p>

  <label>
    Email:
    <input type = 'text' th:field="${user.email}" th:value="${email}">
  </label>
  <p th:errors="${user.email}"></p>


  <label>
    Password:
    <input type = 'password' th:field="${user.password}">
  </label>
  <p th:errors="${user.password}"></p>


  <label>
    Verify Password:
    <input type = 'password' th:field="${user.verify}">
  </label>
  <p th:errors="${user.verify}"></p>


  <p th:text="${error}"></p>

  <input type = 'submit' value = 'Sign Up'>
</form>

</body>
</html>